body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0d0d0d;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 380px;
    background: #272727;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px #00000025;
    text-align: center;
}

.login-box h2 {
    color: #ffffff;
    margin-bottom: 25px;
}

.login-box form {
    width: 100%;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    outline: none;
    transition: 0.2s;
}



.login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 6px;

    transition: 0.2s;
}

.login-box button:hover {
    transition: 0.3s 0.2s ease all;
    background-color: #fff;
    color: #0D0E0E;
    margin: 5px;
    box-shadow: 10 8px 30px rgb(0, 0, 0, )
}

.login-box .erro {
    margin-top: 15px;
    color: #d9534f;
    font-size: 15px;
}
