/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

header {
    justify-content: space-between;
    padding: 18px 40px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}


nav.nav-right {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-left: 200px;
}

.logo {
    height: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-list li a {
    font-weight: 600;
    color: #5A6060;
    padding: 8px 12px;
    border-radius: 10px;
    transition: 0.3s 0.2s ease all;
}

.nav-list li a:hover {
    font-size: 1.9vh;
    transition: 0.3s ease;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 3px;
    background: #5A6060;
    margin: 6px 0;
    transition: 0.3s;
}

.back-btn {
    background: #0D0E0E;
    color: #ffffff !important;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s ease;
}

.back-btn:hover {
    opacity: 0.8;
    transform: scale(1.03);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    nav.nav-right {
        width: 100%;
        max-width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        margin-left: 0px;
    }
    

    .nav-list {
        position: absolute;
        top: 70px;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: #ffffff;
        border-left: 1px solid #e5e5e5;

        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        padding-top: 40px;

        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-list li a {
        color: #5A6060;
        font-size: 20px;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .mobile-menu {
        display: block;
    }

}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}